/*!
 * -------------------------------------------------------------------------
 * GenericObject plugin for GLPI
 * -------------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GenericObject.
 *
 * GenericObject is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * GenericObject is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GenericObject. If not, see <http://www.gnu.org/licenses/>.
 * -------------------------------------------------------------------------
 * @copyright Copyright (C) 2009-2023 by GenericObject plugin team.
 * @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 * @link      https://github.com/pluginsGLPI/genericobject
 * -------------------------------------------------------------------------
 */

/*
 * Menu entry wrapper
 */
.genericobject_menu_wrapper {
   display: block;
   position: relative;
   margin: 0;
   padding: 0;
}

/*
 * Icon positionning
 */
.genericobject_menu_icon {
   height: 16px;
   width: 16px;
   vertical-align: middle;
   display: inline-block;
}
.icon_preview {
   height: 32px;
   width: 32px;
}

.icon_preview > .genericobject_menu_icon {
   display: block;
   margin: 0 auto;
   height: initial;
   width: initial;
   max-height: 32px;
   max-width: 32px;
}

.genericobject_menu_text {
   padding-left: 5px;
   margin: 0;
   display: inline-block;
}


/*
 * Fields Form
 */

.genericobject_fields.add_new {
   width: 80%;
}

.genericobject_fields.add_new td.label {
   width: 20%;
}

.genericobject_fields.add_new td.dropdown {
   width: 100%;
}

/*
 * Type's Profile tab : specific alignment
 */

.genericobject_type_profiles tr > td {
   width : 10%;
}
