<root>
   <name>Displayed name</name>
   <key>System name</key>
   <state>stable</state>
   <logo>http://link/to/logo</logo>
   <description>
      <short>
         <lang>short description of the plugin, displayed on list, text only</lang>
         ...
      </short>
      <long>
         <lang>short description of the plugin, displayed on detail, Markdown accepted</lang>
      </long>
   </description>
   <homepage>http://link/to/your/page</homepage>
   <download>http://link/to/your/files</download>
   <issues>http://link/to/your/issues</issues>
   <readme>http://link/to/your/readme</readme>
   <authors>
      <author>Your name</author>
   </authors>
   <versions>
      <version>
         <num>1.8.0</num>
         <compatibility>0.85</compatibility>
      </version>
   </versions>
   <langs>
      <lang>en_GB</lang>
      <lang>fr_FR</lang>
      ...
   </langs>
   <license>GPL v2+</license>
   <tags>
      <fr>
         <tag>tag1</tag>
      </fr>
      <en>
         <tag>tag1</tag>
      </en>
   </tags>
   <screenshots>
      <screenshot>http://link/to/your/screenshot</screenshot>
      <screenshot>http://link/to/your/screenshot</screenshot>
      ...
   </screenshots>
</root>